* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body, 

.Container {
    padding: 1em 2em;
    max-width: 100%;
    min-height: 100vh;
    background:  rgb(14, 44, 68);
    display: flex;
    justify-content: center;
    align-items: center;
}

.AppWrapper {
    width: 23em;
    min-height: 30em;
    background-color: rgb(78, 18, 51);
    padding: 1em;
    box-shadow: 10px 10px 50px black;
    box-sizing: border-box;
    border: 0.4em solid rgb(139, 115, 115);
    border-radius: 1em;
    justify-content: center;
}

@media (max-width: 350px) {
    .AppWrapper {
        width: 20em;
        margin-left: 1em;
    }
}

.TodoHead {
    color: white;
    text-decoration: none;
    text-align: center;
}

.todoInput {
    width: 18em;
    height: 3em;
    box-shadow: 4px 4px 5px black;
    background-color:rgb(11, 20, 37);
    color: rgb(255, 249, 249);
    padding: 5px;
    border-radius: 0.5em;
    margin-top: 1em;
    transition: 1s;
}

.todoInput:hover {
    transform: scale(1.1);
    font-weight: 700;
    font-size: 0.8em;
}

.AddButton {
    width: 4em;
    height: 3em;
    background-color: rgb(100, 47, 37);
    border-radius: 0.5em ;
    margin-left: 1em;
    transition: 1s;
    border: 2px solid white;
    font-weight: 700;
    box-shadow: 4px 4px 5px black;
    
}

.AddButton:hover {
    transform: scale(1.2);
}

.TaskList {
    text-decoration: none;
    display: flex;
    
}

.list {
    width: 18em;
    height: 2.5em;
    text-decoration: none;
    background-color: rgb(49, 7, 30);
    margin-top: 1em;
    color: white;
    border-radius: 1em ;
    border: 2.6px solid rgb(11, 20, 37);
    padding: 0.5em;
    font-weight: 700;
} 

.complete {
    text-decoration: line-through;
    opacity: 0.3;
}

.CompleteButton {
    background-color: rgb(12, 28, 43);
    color: rgb(206, 67, 132);
    border: 1px solid rgb(226, 189, 189);
    border-radius: 3px;
    transition: 1s;
    cursor: pointer;
    padding: 0px 2px ;
}

.CompleteButton {
    transform: scale(1.2);
}

.EditButton {
    background-color: rgb(48, 6, 6);
    color: rgb(117, 199, 158);
    border: 1px solid rgb(226, 189, 189);
    border-radius: 3px;
    transition: 1s;
    cursor: pointer;
    padding: 0 2px ;
}

.EditButton {
    transform: scale(1.2);
}

.DeleteButton {
    background-color: transparent;
    color: rgb(9, 124, 133);
    border: 1px solid rgb(226, 189, 189);
    border-radius: 3px;
    transition: 1s;
    cursor: pointer;
    padding: 0 2px ;
}

.DeleteButton {
    transform: scale(1.2);
}

.iconsContainer {
    display: flex;
    height: 1em;
    gap: 0.4em;
    margin-top: 1.6em;
    padding: 6px;
}

.pagination {
    display: flex;
    padding: 3px;
    margin-top: 1em;
    gap: 1em;
    justify-content: right;

    
}

.page-item {
    color: aliceblue;
    text-decoration: none;
    padding: 0.4em;
    background-color: rgb(21, 21, 51);
    border: 1px solid rgb(223, 215, 215);
    border-radius: 5px;
    box-shadow: 4px 4px 5px black;
    transition: 1s;
        
}

.page-link {
    color: rgb(245, 192, 192);
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
     
}

.page-item:hover {
    transform: scale(1.2);
}